<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>605232013607-n0da53lslbuahphi1ujrjsecthb5pjuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605232013607-n0da53lslbuahphi1ujrjsecthb5pjuu</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ6qoA7IoUvOuNYdONxZFzHvkzQ3LEMFI</string>
	<key>GCM_SENDER_ID</key>
	<string>605232013607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BoanasMarc.Preparation</string>
	<key>PROJECT_ID</key>
	<string>preparation-9c77c</string>
	<key>STORAGE_BUCKET</key>
	<string>preparation-9c77c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605232013607:ios:cadbbc0e4c04a819</string>
	<key>DATABASE_URL</key>
	<string>https://preparation-9c77c.firebaseio.com</string>
</dict>
</plist>